body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.input {
    display: flex;
}
.avatar {
    width: 183px;
    height: 183px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.notification {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.username {
    font-weight: bold;
    cursor: pointer;
}

.username:hover {
    color: blue;
    text-decoration: underline;
}

input, button {
    margin: 10px;
    padding: 5px;
}
input {
    background-color: #ddd;
    border-color: #ddd;
}
button {
    cursor: pointer;
    background-color: rgb(103, 103, 255);
    border-radius: 20%;
    border-color: rgb(103, 103, 255);
    color: white;
}

button:hover {
    background-color: #e0e0e0;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ddd;
}
